.pregunta-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
  }
  
  .pregunta-content {
    display: flex;
    align-items: flex-start;
  }
  
  .pregunta-imagen {
    margin-right: 20px;
  }
  
  .pregunta-texto {
    flex: 1;
  }
  
  .pregunta-enunciado {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .opciones {
    margin: 10px 0;
  }
  
  .opciones button {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    margin: 20px;
  }
  
  .opcion-seleccionada {
    background-color: skyblue !important;
    color: black;
  }
  
  .opcion-correcta {
    border: 2px solid green !important;
  }
  
  .opcion-correcta-seleccionada {
    background-color: green !important;
    color: white !important;
  }
  
  .opcion-incorrecta-seleccionada {
    background-color: red !important;
    color: white !important;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .navegacion-preguntas-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navegacion-preguntas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    margin: 0 20px;
  }
  
  .navegacion-preguntas div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .pregunta-actual {
    background-color: violet;
    color: black;
    font-weight: bolder;
  }
  
  .pregunta-contestada {
    background-color: skyblue;
    color: black;
  }
  
  .pregunta-correcta {
    background-color: green;
    color: white;
  }
  
  .pregunta-incorrecta {
    background-color: red;
    color: white;
  }
  
  img {
    height: auto;
    border-radius: 12px;
    margin-right: 20px;
  }
  
  .resultados {
    margin-top: 20px;
    text-align: center;
  }
  
  .resultados-titulo {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .resultados-detalle {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .explicacion {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    margin: 20px 0;
    padding: 10px 15px;
    font-size: 1.2em;
    border-radius: 4px;
    margin-top: 80px;
  }
  