<div class="filter-container" style="display: flex; justify-content: space-between;">
  <h1 style="font-weight: bold;">Todos los tests</h1>
  <mat-form-field>
    <mat-label>Filtrar por dificultad</mat-label>
    <mat-select [(value)]="selectedDificultad" (selectionChange)="filterTests()">
      <mat-option value="todas">Todos</mat-option>
      <mat-option value="facil">Fácil</mat-option>
      <mat-option value="media">Media</mat-option>
      <mat-option value="dificil">Difícil</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="test-list-container">
  <mat-card class="test-card" *ngFor="let test of filteredTests">
    <mat-card-header>
      <mat-card-title>{{ test.titulo }}</mat-card-title>
      <div class="dificultad-semaforo">
        <div [ngClass]="{'dificultad-luz': true, 'activo': test.dificultad === 'facil'}" class="facil"></div>
        <div [ngClass]="{'dificultad-luz': true, 'activo': test.dificultad === 'media'}" class="media"></div>
        <div [ngClass]="{'dificultad-luz': true, 'activo': test.dificultad === 'dificil'}" class="dificil"></div>
      </div>
    </mat-card-header>
    <img mat-card-image src="assets/images/test-placeholder.jpg" alt="Imagen del test" style="border-radius: 12px; margin: 20px;">
    <mat-card-content style="align-items: center; display: flex; justify-content: center; font-weight: bold;">
      <div *ngIf="getUltimoIntento(test.id)" class="resultado" [ngClass]="{'apto': getUltimoIntento(test.id)?.correctas > 27, 'no-apto': getUltimoIntento(test.id)?.correctas <= 27}">
        Último intento: {{ getUltimoIntento(test.id)?.correctas }}/{{ getUltimoIntento(test.id)?.total }} -
        <span>{{ getUltimoIntento(test.id)?.correctas > 27 ? 'Apto' : 'No Apto' }}</span>
      </div>
      <div *ngIf="testService.getProgreso(test.id)" class="progreso">
        Progreso: Pregunta {{ testService.getProgreso(test.id)?.currentPreguntaIndex + 1 }} de {{ test.preguntas.length }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/tests', test.id]" style="width: 100%; margin: 0px 60px;">
        {{ testService.getProgreso(test.id) ? 'Continuar' : 'Realizar test' }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
